In [ ]:
# SOURCE https://towardsdatascience.com/exploratory-data-analysis-eda-python-87178e35b14
# FILENAME exploratory_data_analysis.ipynb
# I've expanded the EDA post for more variables and flexibility
# in future we will expand this for more data types
# current csv
# planned, tsv, pdf, txt, doc, tsv, json and sql(someday)
# data cleaning can/should be easier and not such a time vampire

def eda_options():
    """main menu eda options"""
    data_sourcing = ''
    data_cleaning = ''
    univariate_analysis = ''
    bivariate_analysis = ''
    multivariate_analysis = ''

    data_sourcing = ["public_data", "private_data"]
    """Data Sourcing is the process of finding and loading the data into our system.\
    Broadly there are two ways in which we can find data"""
    data_sourcing_links = ['https://data.gov',
                           'https://data.gov.uk',
                           'https://data.gov.in',
                           'https://www.kaggle.com/',
                           'https://archive.ics.uci.edu/ml/index.php',
                           'https://github.com/awesomedata/awesome-public-datasets]']
    data_cleaning = ['Missing Values', 'Incorrect Format',
                     'Incorrect Headers', 'Anomalies/Outliers']

    sample_dirty_data = 'https://raw.githubusercontent.com/Kaushik-Varma/Marketing_Data_Analysis/master/Marketing_Analysis.csv'

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import requests
import io
%matplotlib inline

# Read the data set of "marketing analysis"
# TODO prompt user for 'filename' + 'location'
# if location is local then os.path whatever
# if location is url then URL + resquests + io
# SOURCE https://stackoverflow.com/questions/32400867/pandas-read-csv-from-url
url = "https://raw.githubusercontent.com/Kaushik-Varma/Marketing_Data_Analysis/master/Marketing_Analysis.csv"
s = requests.get(url).content
c = pd.read_csv(io.StringIO(s.decode('utf-8')))
data = pd.read_csv(url)
data
# should output top 5 bottom 5 of dataframe in grid

/Users/vanessawilson/sbox/test_jupyter/venv/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (0,1,2,3,11,14,15,16) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,banking marketing,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,customer id and age.,NaN,Customer salary and balance.,NaN,Customer marital status and job with education...,NaN,particular customer before targeted or not,NaN,Loan types: loans or housing loans,NaN,Contact type,NaN,month of contact,duration of call,NaN,NaN,NaN,outcome of previous contact,response of customer after call happned
1,customerid,age,salary,balance,marital,jobedu,targeted,default,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,response
2,1,58,100000,2143,married,"management,tertiary",yes,no,yes,no,unknown,5,"may, 2017",261 sec,1,-1,0,unknown,no
3,2,44,60000,29,single,"technician,secondary",yes,no,yes,no,unknown,5,"may, 2017",151 sec,1,-1,0,unknown,no
4,3,33,120000,2,married,"entrepreneur,secondary",yes,no,yes,yes,unknown,5,"may, 2017",76 sec,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45208,45207,51.0,60000,825,married,"technician,tertiary",yes,no,no,no,cellular,17,"nov, 2017",16.2833333333333 min,3,-1,0,unknown,yes
45209,45208,71.0,55000,1729,divorced,"retired,primary",yes,no,no,no,cellular,17,"nov, 2017",7.6 min,2,-1,0,unknown,yes
45210,45209,72.0,55000,5715,married,"retired,secondary",yes,no,no,no,cellular,17,"nov, 2017",18.7833333333333 min,5,184,3,success,yes
45211,45210,57.0,20000,668,married,"blue-collar,secondary",yes,no,no,no,telephone,17,"nov, 2017",8.46666666666667 min,4,-1,0,unknown,no
45212,45211,37.0,120000,2971,married,"entrepreneur,secondary",yes,no,no,no,cellular,17,"nov, 2017",6.01666666666667 min,2,188,11,other,no

In [3]:
# depending upon output you may see top rows, columns or headers that contain data you don't want
# in this example we need to fix rows and columns
# we will ignore first two rows
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import requests
import io
%matplotlib inline

# Read the data set of "marketing analysis"
# TODO prompt user for 'filename' + 'location'
# if location is local then os.path whatever
# if location is url then URL + resquests + io
# SOURCE https://stackoverflow.com/questions/32400867/pandas-read-csv-from-url
url = "https://raw.githubusercontent.com/Kaushik-Varma/Marketing_Data_Analysis/master/Marketing_Analysis.csv"
s = requests.get(url).content
c = pd.read_csv(io.StringIO(s.decode('utf-8')))
data = pd.read_csv(url,skiprows = 2)

# we also want only the top 5 rows
data.head()

/Users/vanessawilson/sbox/test_jupyter/venv/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (0,1,2,3,11,14,15,16) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,customerid,age,salary,balance,marital,jobedu,targeted,default,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,response
0,1,58.0,100000,2143,married,"management,tertiary",yes,no,yes,no,unknown,5,"may, 2017",261 sec,1,-1,0,unknown,no
1,2,44.0,60000,29,single,"technician,secondary",yes,no,yes,no,unknown,5,"may, 2017",151 sec,1,-1,0,unknown,no
2,3,33.0,120000,2,married,"entrepreneur,secondary",yes,no,yes,yes,unknown,5,"may, 2017",76 sec,1,-1,0,unknown,no
3,4,47.0,20000,1506,married,"blue-collar,unknown",no,no,yes,no,unknown,5,"may, 2017",92 sec,1,-1,0,unknown,no
4,5,33.0,0,1,single,"unknown,unknown",no,no,no,no,unknown,5,"may, 2017",198 sec,1,-1,0,unknown,no

In [4]:
# poof we ran the same routine but didnt need first two rows, now they are gone.
# now we need to do more fixing rows and columns herein FRC(fixing rows columns)
# optional steps
# 1. delete summary rows and columns in dataset
# 2. delete header and or footer rows on x pages or all
# 3. delete extra rows that are blank, remove page numbers etc
# 4. merge different columns for data comprehension
# 5. split one or more columns for data comprehension/requirements
# 6. add formatted columns names, muy importante

# since column2 doesn't seem to have much importance we will drop it.
# this is idosyncratic but many customer_id are quite useful

data.drop('customerid', axis = 1, inplace = True)

In [5]:
# seperate (column jobedu as management,tertiary)
# new column job as management
# new column edu as tertiary, also what does secondary or tertiary mean as they are vague
data['job'] = data["jobedu"].apply(lambda x: x.split(",")[0])
data['education'] = data["jobedu"].apply(lambda x: x.split(",")[1])
# for future neural net, will need samples of similar dirty data

SyntaxError: unmatched ']' (<ipython-input-5-7ac2d73116d3>, line 5)